<div>
    <div class="container-fluid" style="margin: 30px auto 100px auto">
        <div class="alert alert-success" role="alert">

            <h4 class="alert-heading">Welcome To Robotics Lab Security Admin Panel</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
                so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
        <figure class="figure">
            <img src="http://robotics.nigde.edu.tr/wp-content/uploads/2015/03/Screenshot-from-2015-03-30-100135.png" class="figure-img img-fluid rounded"
                alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
    </div>
</div>