<div class="container-fluid">
    <div class="row">
        <div class="loginPanel">
            <div class="card border-dark">
                <div class="card-header">
                    <h3 class="mb-0">Admin Panel</h3>
                </div>
                <div class="card-body text-dark ">
                    <form action="/login" method="POST">
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-prepend">
                                <i class="fas fa-user-ninja icon rounded-left"></i>
                            </span>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username">

                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-prepend">
                                <i class="fas fa-key icon rounded-left"></i>
                            </span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">

                        </div>
                        <div class="card border-success">
                            <button type="submit" class="btn btn-success" id="btnLogin">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>